# --- Terraform Core ---
# Local .terraform directories
**/.terraform/*

# .tfstate files (State must be remote!)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# --- Security & Secrets ---
# Exclude all .tfvars files (Likely contain passwords/keys)
*.tfvars
*.tfvars.json

# Exclude Plan files (Contains state/secrets in binary format)
*.tfplan

# --- Overrides ---
# Ignore override files used for local debugging
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# --- CLI Config ---
# Ignore CLI configuration files
.terraformrc
terraform.rc

# --- Editor & OS Junk ---
.vscode/
.idea/
.DS_Store
